
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/Main.cshtml";
}

<div class="modal show" id="myModal" tabindex="-1">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>

                <h4 class="modal-title">Add Customer</h4>

            </div>
            @using (Html.BeginForm("AddCustomer", "Customers", FormMethod.Post))
            {
                <div class="modal-body">




                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Username:</label>

                        @Html.TextBox("Name", "", new { @class = "form-control", @id = "recipient-name" })
                        @Html.ValidationMessage("Name")
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Address:</label>

                        @Html.TextBox("Address", "", new { @class = "form-control", @id = "recipient-name" })
                        @Html.ValidationMessage("Address")
                    </div>


                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary">Create</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>


                </div>
            }
        </div>
    </div>

</div>

